.modal {
  display: none;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  z-index: 1001;
}

.modal.show {
  display: block;
}

.background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.background.show {
  display: block;
}
