.kitty-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: border 0.3s ease, transform 0.3s ease;
}

.kitty-card:hover {
  border: 1px solid gray;
  border-radius: 20px;
  transform: scale(1.05);
}

.kitty-card img {
  object-fit: cover;
  margin: 16px 0;
}
